0
logs
fs
project/project
project/target
project/plugins.sbt
target
nbproject
temp
dist
.history
/build.xml
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
nb-build.xml
log.txt
/build/
*~
*.log
docs/html