<div ng-controller="administratorCtrl">

    <h2>Administrator View</h2>
    <button class="button color-green m-sides-10" ng-click="loadCSVData()">Load CSV data</button>
    <button class="button color-green m-sides-10" ng-click="clearAllData()">Clear all data</button>
        
    <div class="row" >
        <div class="col-md-12">
            <h3>Program info</h3>
            <h4>Program name: {{program.name}}</h4>
            <h4>Program name: {{program.currentYear}}</h4>
            <h4>Program name: {{program.currentTerm}}</h4>
        </div>
    </div>
    
    <div class="row" >
        <div class="col-md-12">
            <h3>Program update</h3>
        </div>
    </div>
    
</div>




