<style>
    .selected {
        background-color: black;
        color: white;
        font-weight: bold;
    }
</style>

<div ng-controller="instructorCtrl">

    <h2 class="text-center">Instructor View</h2>

    <div class="row">
        <div class="col-md-12" style="overflow: scroll; height: 200px;">
            <table class="table table-hover">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Phone</th>
                </tr>
                <tr ng-repeat="instructor in instructors | orderBy:'id'" ng-class="'selected':$index === selectedRow" ng-click="setClickedRow($index)">
                    <td>{{instructor.person.id }}</td>
                    <td>{{instructor.person.name }}</td>
                    <td>{{instructor.person.address }}</td>
                    <td>{{instructor.person.phone }}</td>
               </tr>
            </table>
        </div>

        <div>selected={{selectedRow}}</div>
        <div>instructor={{selectedInstructor}}</div>
    </div>
        
    <h3>Courses</h3>
    <div class="row">
         <div class="col-md-12" style="overflow: scroll; height: 200px;">
             <table class="table table-hover">
                 <tr>
                     <th>ID</th>
                     <th>Title</th>
                 </tr>
                 <tr ng-repeat="course in courses | orderBy:'id' ">
                     <td>{{course.id}}</td>
                     <td>{{course.title}}</td>
                </tr>
             </table>
         </div>
    </div>
    
</div>




